.red-text { color: red; }

.blue-text { color: blue; }

.green-text { color: green; }

#red-slider .ui-btn-active { background-color: #c33 !important;}

#green-slider .ui-btn-active { background-color: #2FA828 !important;}

#slider-red-delay { color: #c33 !important; }

#slider-green-delay { color: #2FA828 !important; }

header {
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    text-shadow: none;
}

.main { margin-top: 15px; }
